<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets" 
>
    <h:head>
        <title>Insert title here</title>
    
    <link rel="stylesheet" href="http://bootswatch.com/sandstone/bootstrap.min.css"></link>
    <style>
        .mar{
            margin-top: 70px;
        }
        .slider-in{
            width:95%;
            float:left;
            position:relative;
            border: #666 solid 1px;
            padding: 3px;
        }
         .slider-in img{
            display: none;
            width:100%;
            height: 400px;
        }
         .slider-in img.active{
            display: inline-block;
     
          
        }
        #prev, #next{
            
            float: left;
            margin-top: 180px;
            cursor: pointer;
            font-size:35px;
        }
        table{
            width: 100%;
        }
        hr{
           border-top-color: #212121;
        }
        input.btn{
            margin-bottom: 5px;
        }
        .dziel{
            border-right-style: solid;
            border-right-color: #212121;
            border-right-width: 1px;
        }
        .ce{
            margin: 0 auto;
            width: 100%;
        }
        #odstep{
            font-size: 20px;
            margin-top: 100px;
        }
        .cos{
            font-size: 18px;
        }
    </style>
    </h:head>
<h:body>
        <f:view>
       
     <nav class="navbar navbar-default navbar-fixed-top">
            
  <div class="container-fluid">
      <div class="row">
          <div class="col-xs-6">
                 <div class="navbar-header">
                 <a href="#" class="navbar-brand">Panel</a>
          
            </div>
          </div>
          <div class="col-xs-6">

              
          </div>
              
      </div>
   
      
     
    
  </div>
</nav>
 
    <div class="container">
   
        <div class="row mar">
            <h:form>
            <div class="col-sm-6">
                <div class="form-group">
                <label for="imie" >Imie</label>
                <h:inputText class="form-control" id="imie" value="#{autord.imie}"></h:inputText> 
              </div>
              <div class="form-group">
                <label for="nazwisko">Nazwisko</label>
                <h:inputText class="form-control" id="nazwisko" value="#{autord.nazwisko}"></h:inputText>
              </div>
                 <div class="form-group">
                <label for="url">Url</label>
                <h:inputText class="form-control" id="url" value="#{autord.url}"></h:inputText>
              </div>
               <div class="form-group">
                <label for="nazwisko">Opis</label>
                <h:inputText class="form-control" id="opis" value="#{autord.opis}"></h:inputText>
              </div>
              
           
           
             
                
                <h:commandButton class="btn btn-default pull-right" action="#{autord.dodaj()}" value="Dodaj"></h:commandButton>
            </div>
            </h:form>
              
          </div>
    </div>
  
   
      </f:view>
            <script>
        window.onload = function() {
            document.getElementById('hidden:link').onclick();
        };
    </script>
    <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
   
  
</h:body>
</html>