<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets" 
        
    xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <h:head>
        <title>Insert title here</title>
    
    <link rel="stylesheet" href="http://bootswatch.com/sandstone/bootstrap.min.css"></link>
    <style>
        .mar{
            margin-top: 70px;
        }
        .slider-in{
            width:95%;
            float:left;
            position:relative;
            border: #666 solid 1px;
            padding: 3px;
        }
         .slider-in img{
            display: none;
            width:100%;
            height: 400px;
        }
         .slider-in img.active{
            display: inline-block;
     
          
        }
        #prev, #next{
            
            float: left;
            margin-top: 180px;
            cursor: pointer;
            font-size:35px;
        }
        table{
            width: 100%;
        }
        hr{
           border-top-color: #212121;
        }
        input.btn{
            margin-bottom: 5px;
        }
        .dziel{
            border-right-style: solid;
            border-right-color: #212121;
            border-right-width: 1px;
        }
        .ce{
            margin: 0 auto;
            width: 100%;
        }
        #odstep{
            font-size: 20px;
            margin-top: 100px;
        }
        .cos{
            font-size: 18px;
        }
        .rownaj{
            margin-top: 15px;
        }
    </style>
    </h:head>
<h:body>
        <f:view>
               <h:form>
   
     <nav class="navbar navbar-default navbar-fixed-top">
            
  <div class="container-fluid">
      <div class="row">
          <div class="col-xs-6">
                 <div class="navbar-header">
                 <a href="#" class="navbar-brand">Ksiegarnia</a>
          
            </div>
          </div>
          <div class="col-xs-6">
                <h:form>
          <c:if test="#{empty log.klucz}">
      <h:commandButton class="btn btn-primary btn-sm rownaj pull-right" action="#{route.rej}" value="Rejestracja"></h:commandButton>
        <h:commandButton class="btn btn-success btn-sm rownaj pull-right" action="#{route.log}" value="Logowanie"></h:commandButton>
        </c:if>
           <c:if test="#{not empty log.klucz}">
               <h:commandButton class="btn btn-danger btn-sm rownaj pull-right" action="#{log.wyloguj()}" value="Wyloguj"></h:commandButton>
            </c:if>    
        </h:form>
              
          </div>
              
      </div>
   
      
     
    
  </div>
</nav>
 
    <div class="container">
   
        <div class="row mar">
            <div class="col-sm-5">
                <h2>Dane do wysylki</h2>
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <td> <span class="glyphicon glyphicon-user" aria-hidden="true"></span> Imie i nazwisko</td>
                            <td><span><h:outputText value="#{log.uzo.imie}" /> </span> <span><h:outputText value="#{log.uzo.nazwisko}" /> </span>  </td>
                        </tr>
                        <tr>
                            <td><span class="glyphicon glyphicon-road" aria-hidden="true"></span> Ulica</td>
                            <td><span><h:outputText value="#{log.uzo.ulica}" /> </span>   </td>
                        </tr>
                        <tr>
                            <td><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Miasto</td>
                            <td><span><h:outputText value="#{log.uzo.kod}" /> </span> <span><h:outputText value="#{log.uzo.miasto}" /> </span>  </td>
                        </tr>
                    </tbody>
                    
                </table>
            </div>
            <div class="col-sm-7">
             <h2>Sprzedaz</h2>
             <table class="table table-bordered">
                 <thead>
                     <tr>
                         <th>Tytul</th>
                          <th>Wydanie</th>
                          <th>Liczba stron</th>
                          <th>Ilosc</th>
                           <th>Cena</th>
                     </tr>
                         
                 </thead>
                 <tbody>
                     <tr>
                         <td>
                             <h:outputText value="#{kup.ten.tytul}" />
                         </td>
                         <td>
                             <h:outputText value="#{kup.ten.wydanie}" />
                         </td>
                          <td>
                              <h:outputText value="#{kup.ten.liczba_stron}" />
                         </td>
                          <td>
                              <h:outputText value="#{kup.ten.ilosc}" />
                         </td>
                         <td>
                             <h:outputText value="#{kup.ten.cena}" />
                         </td>
                     </tr>
                 </tbody>
                 
             </table>
            </div>
              
              
          </div>
    </div>
                    </h:form>
               <h:form>
                   <div class="container">
              
        <div class="row">
            <div class="col-sm-5">
                 <div class="form-group">
                <label for="ile">Ile</label>
                <h:inputText class="form-control" id="ile" value="#{kup.ile}"></h:inputText>
              </div>
            </div>
             <div class="col-sm-7">
              
                 <div class="form-group">
                     <h:commandButton class="btn btn-success btn-lg rownaj pull-right" action="#{kup.sprzedaz}" value="Kup teraz"></h:commandButton>
                     
              </div>
            </div>
        </div>
    </div>
   
      </h:form>
      </f:view>
  
    <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
    <script src="js/main.js"></script>
        
</h:body>
</html>