<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets" 
        
    xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <h:head>
        <title>Insert title here</title>
      
    <link rel="stylesheet" href="http://bootswatch.com/sandstone/bootstrap.min.css"></link>
    <style>
        .mar{
            margin-top: 60px;
        }
        .mar2{
             margin-top: 70px;
        }
        .slider-in{
            width:95%;
            float:left;
            position:relative;
            border: #666 solid 1px;
            padding: 3px;
        }
         .slider-in img{
            display: none;
            width:100%;
            height: 400px;
        }
         .slider-in img.active{
            display: inline-block;
     
          
        }
        #prev, #next{
            
            float: left;
            margin-top: 180px;
            cursor: pointer;
            font-size:35px;
        }
        table{
            width: 100%;
        }
        hr{
           border-top-color: #212121;
           margin-top:10px;
           margin-bottom: 10px;
        }
        input.btn{
            margin-bottom: 5px;
        }
        .lol{
            border: 0;
            background: #ffffff;
        }
        .lol2{
            border: 0;
            background: #3e3f3a;
        }
        .rownaj{
            margin-top: 15px;
        }
        .kol{
            background: #3e3f3a;
        }
        .biel{
            color:#EEEEEE;
        }
        .prawa{
            border-right-style: solid;
            border-right-width: 1px;
            border-right-color: #EEEEEE;
        }
        .back{
           background: #9E9E9E;
           height: 100vh;
        }
        .spacja{
            margin-right: 5px;
        }
    </style>
    </h:head>
<h:body>
        <f:view>
        <h:form id="hidden" style="display:none">
        <h:commandLink id="link">
            <f:ajax event="click" listener="#{panel.wydawnictwo()}" />
        </h:commandLink>
    </h:form>
            <f:metadata>
    <f:viewParam name="foo" value="#{bean.foo}" />
    <f:viewAction action="#{panel.wydawnictwo()}" />
</f:metadata>

     <nav class="navbar navbar-default navbar-fixed-top">
            
  <div class="container-fluid">
      <div class="row">
          <div class="col-xs-6">
                 <div class="navbar-header">
                 <a href="#" class="navbar-brand">Panel</a>
          
            </div>
          </div>
          <div class="col-xs-6">

              
          </div>
              
      </div>
   
      
     
    
  </div>
</nav>

    <div class="container-fluid">
   
        <div class="row mar">
        
            <div class="col-xs-2 back">
                <h3 class="text-center">Wydawnictwo</h3>
                <hr></hr>
                <ul class="list-group">
                    <h:form>
                        <li class="list-group-item">  <h:commandButton class="lol" action="#{route.wydawnictwoD()}" value="Dodaj"></h:commandButton></li>
                    
                        <li class="list-group-item"> <h:commandButton class="lol" action="#{route.wydawnictwoE()}" value="Edytuj"></h:commandButton></li>
                     </h:form>
                </ul>
                   <h3 class="text-center">Autor</h3>
                <hr></hr>
                <ul class="list-group">
                    <h:form>
                        <li class="list-group-item">  <h:commandButton class="lol" action="#{route.autorD()}" value="Dodaj"></h:commandButton></li>
                    
                        <li class="list-group-item"> <h:commandButton class="lol" action="#{route.autorE()}" value="Edytuj"></h:commandButton></li>
                     </h:form>
                </ul>
                     <h3 class="text-center">Ksiazka</h3>
                <hr></hr>
                <ul class="list-group">
                   <h:form>
                       <li class="list-group-item">  <h:commandButton class="lol" action="#{route.ksiazkaD()}" value="Dodaj"></h:commandButton></li>
                    
                       <li class="list-group-item"> <h:commandButton class="lol" action="#{route.ksiazkaE()}" value="Edytuj"></h:commandButton></li>
                     </h:form>
                </ul>
            </div>
             <div class="col-xs-10 ">
                 <div class="col-sm-6">
                     
                     <h2>Wydawnictwo</h2>
           <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>ID</th>
                        <th>Nazwa</th>
                         <th>Ulica</th>
                          <th>Miasto</th>
                          <th>Kod</th>
                          </tr>
                    </thead>
                    <tbody>
                        <ui:repeat value="#{panel.lista}" var="_row">
                    <tr>
                        <td>
                            <h:outputText value="#{_row.id}" />
                        </td>
                        <td>
                            <h:outputText value="#{_row.nazwa}" />
                        </td>
                         <td>
                             <h:outputText value="#{_row.ulica}" />
                        </td>
                         <td>
                             <h:outputText value="#{_row.miasto}" />
                        </td>
                         <td>
                             <h:outputText value="#{_row.kod}" />
                        </td>
                        
                    </tr>
                
                </ui:repeat>
                        </tbody>
                    </table>
                     
                 </div>
             <div class="col-sm-6">
                     
                     <h2>Autor</h2>
           <table class="table table-bordered">
                    <thead>
                        <tr>
                        <th>ID</th>
                        <th>Imie</th>
                         <th>Nazwisko</th>
                          <th>Opis</th>
                          
                          </tr>
                    </thead>
                    <tbody>
                        <ui:repeat value="#{panel.listaA}" var="_row">
                    <tr>
                        <td>
                            <h:outputText value="#{_row.id}" />
                        </td>
                        <td>
                            <h:outputText value="#{_row.imie}" />
                        </td>
                         <td>
                             <h:outputText value="#{_row.naziwsko}" />
                        </td>
                         <td>
                             <h:outputText value="#{_row.opis}" />
                        </td>
                        
                    </tr>
                
                </ui:repeat>
                        </tbody>
                    </table>
                     
                 </div>  
                     <div class="col-sm-12">
                     
                     <h2>Sprzedaz</h2>
           <table class="table table-bordered">
                    <thead>
                        <tr>
                         <th>ID</th>
                        <th>Imie </th>
                         <th>Nazwisko</th>
                          <th>Adres</th>
                            <th>Tytul</th>
                            <th>Wydanie</th>
                             <th>Ilosc</th>
                              <th>Suma</th>
                          </tr>
                    </thead>
                    <tbody>
                        <ui:repeat value="#{panel.listaSp}" var="_row">
                    <tr>
                        <td>
                            <h:outputText value="#{_row.id}" />
                        </td>
                        <td>
                            <h:outputText value="#{_row.uz.imie}" />
                        </td>
                         <td>
                             <h:outputText value="#{_row.uz.nazwisko}" />
                        </td>
                         <td>
                             <span class="spacja"> <h:outputText value="#{_row.uz.ulica}" /> </span> <span class="spacja"> <h:outputText value="#{_row.uz.kod}" /> </span> <span class="spacja"> <h:outputText value="#{_row.uz.miasto}" /> </span>
                        </td>
                         <td>
                             <h:outputText value="#{_row.ksiazka.tytul}" />
                        </td>
                           <td>
                               <h:outputText value="#{_row.ksiazka.wydanie}" />
                        </td>
                           <td>
                               <h:outputText value="#{_row.ilosc}" />
                        </td>
                           <td>
                               <h:outputText value="#{_row.suma}" />
                        </td>
                    </tr>
                
                </ui:repeat>
                        </tbody>
                    </table>
                     
                 </div> 
            </div>
        </div>
    </div>
   
 
      </f:view>
    <script>
        window.onload = function() {
            document.getElementById('hidden:link').onclick();
        };
    </script>
    <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
    <script src="js/main.js"></script>
       
</h:body>
</html>